attrs==21.4.0
bleach==5.0.1
build==0.8.0
cachetools==5.2.0
certifi==2023.7.22.1
charset-normalizer==2.0.12
commonmark==0.9.1
coverage==6.4.1
docutils==0.18.1
google-api-core==2.8.1
google-api-python-client==2.49.0
google-auth==2.6.6
google-auth-httplib2==0.1.0
googleapis-common-protos==1.56.2
httplib2==0.20.4
idna==3.3
importlib-metadata==4.12.0
iniconfig==1.1.1
jsonpickle==2.2.0
keyring==23.6.0
packaging==21.3
pep517==0.12.0
pexpect==4.8.0
pkginfo==1.8.3
pluggy==1.0.0
protobuf==3.20.2
psutil==5.9.1
ptyprocess==0.7.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.15.0
pyparsing==3.0.9
pytest==7.1.2
readme-renderer==35.0
requests==2.31.0
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.4.4
rsa==4.8
six==1.16.0
tomli==2.0.1
twine==4.0.1
uritemplate==4.1.1
urllib3==1.26.18
webencodings==0.5.1
zipp==3.8.0
